<?xml version="1.0" encoding="utf-8"?>
<robot
  name="xtark_akmx1">
  <link
    name="base_footprint">
    <visual>
      <origin
        xyz="-0.15 0.045 0.0"
        rpy="1.57 0 1.57" />
      <geometry>
        <mesh
		filename="package://xtark_urdf/meshes/2WDX1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
</robot>
