<?xml version="1.0" encoding="utf-8"?>
<robot
  name="xtark_akmx1">
  <link
    name="base_footprint">
    <visual>
      <origin
        xyz="-0.03 -0.05 -0.38"
        rpy="0 0 -1.57" />
      <geometry>
        <mesh
		filename="package://xtark_urdf/meshes/AKMX1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
</robot>
